.about-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background: url("../../assets/about/bg.png") center center/cover no-repeat
    local;
  width: 100%;
  height: 100vh;
  align-items: center;

  justify-content: space-between;
}
.about-content-main-wrapper {
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 100px;
}
.about-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  gap: 15px;
}
.pathway-arch {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hemisphere {
  width: 65%;
  height: 30vh;
  border-radius: 25vw 25vw 0 0;
  border-width: 4px;
  border-style: dashed;
  border-color: #b5b5b5;
  border-spacing: 8px;
  border-bottom: none;
}
.about-content-wrapper {
  max-width: 1100px;
  max-height: 317px;
  min-width: 380px;
  width: 100%;

}
.about-individual-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 27.5%;
  position: absolute;
}
.track-about-div {
  padding: 1.2rem;
  background-color: #ae59ff;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}
.track-about-div > img {
  width: 50px;
}
.about-individual-wrapper > div > h2 {
  font-size: 25px;
}
.about-individual-wrapper > div > p {
  font-size: 17px;
  text-align: center;
  color: #757575;
}
.set1 {
  top: 28vh;
  left: 70%;
}

.set2 {
  top: -3rem;
  left: 38%;
}

.set3 {
  top: 28vh;
  left: 4%;
}

.about-mu-banner {
  width: 100%;
  background-color: #d4a7ff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  overflow: hidden;
  padding: 15px 0px;
}

.marquee-img {
  width: 45px;
}
@media screen and (max-width: 1600px) {
  .about-wrapper {
    margin-top: 150px;
  }

  .hemisphere {
    width: 60%;
    height: 30vh;
  }
  .track-about-div > img {
    width: 40px;
  }
  .about-individual-wrapper {
    width: 30%;
  }
  .about-individual-wrapper > div > h2 {
    font-size: 20px;
  }
  .about-individual-wrapper > div > p {
    font-size: 15px;
  }
  .set1 {
    top: 26vh;
    left: 65%;
  }
  .set2 {
    left: 35%;
  }

  .set3 {
    top: 26vh;
    left: 5%;
  }
}
@media screen and (max-width: 1000px) {
  .about-wrapper {
    margin-top: 150px;
  }

  .hemisphere {
    width: 50%;
    height: 30vh;
  }
  .track-about-div > img {
    width: 40px;
  }
  .about-individual-wrapper {
    width: 28%;
  }
  .about-individual-wrapper > div > h2 {
    font-size: 20px;
  }
  .about-individual-wrapper > div > p {
    font-size: 15px;
  }
  .set1 {
    top: 26vh;
    left: 61%;
  }
  .set2 {
    left: 36%;
  }

  .set3 {
    top: 26vh;
    left: 10%;
  }
}
@media screen and (max-width: 720px) {
  .about-wrapper {
    margin-top: 100px;
  }
  .pathway-arch {
    align-items: start;
    justify-content: left;
    height: 68vh;
  }
  .hemisphere {
    width: 4px;
    border-right: none;
    height: 60vh;
    margin-left: 50%;
    margin-top: -20px;
  }
  .about-individual-wrapper {
    width: 75%;
    background-color: white;
    gap: 5px;
  padding: 0px 0px;
  }

  .set1 {
    top: 41vh;
    left: 13%;
  }

  .set2 {
    top: 16vh;
    left: 13%;
  }

  .set3 {
    top: -8vh;
    left: 13%;
  }
  .track-about-div {
    padding: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .about-wrapper {
    margin-top: 0px;
  }
  .about-heading {
    width: 90%;
  }
  /* .hemisphere {
    height: 55vh;
    margin-left: 16%;
  }

  .about-individual-wrapper {
    width: 80%;
  }
  .track-about-div > img {
    width: 40px;
  }
  .about-individual-wrapper > div > h2 {
    font-size: 20px;
  }
  .about-individual-wrapper > div > p {
    font-size: 14px;
  }
  .set1 {
    top: 48vh;
    left: 8%;
  }

  .set2 {
    top: 22vh;
    left: 8%;
  }

  .set3 {
    top: -3vh;
    left: 8%;
  } */
}
