.about-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background: url("../../assets/about/bg.png") center center/contain no-repeat
    local;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}
.about-content-main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.pathway-arch {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hemisphere {
  width: 60%;
  height: 45vh;
  border-radius: 45vh 45vh 0 0;
  border-width: 4px;
  border-style: dashed;
  border-color: rgb(105, 102, 102);
  border-spacing: 8px;
  border-bottom: none;
}
.about-content-wrapper {
  max-width: 1100px;
  max-height: 317px;
  min-width: 380px;
  width: 100%;
}
.about-individual-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 25%;
  position: absolute;
}
.track-about-div {
  padding: 1.5rem;
  background-color: #ae59ff;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}
.track-about-div>img{
  width: 50px;
}

.set1 {
  top: 37vh;
  left: 68%;
}

.set2 {
  top: -3rem;
  left: 38%;
}

.set3 {
  top: 37vh;
  left: 7%;
}

.about-mu-banner {
  width: 100%;
  background-color: #d4a7ff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  overflow: hidden;
}

.marquee-img {
  width: 45px;
}

@media screen and (max-width: 1000px) {
  .about-wrapper {
    margin-top: 150px;
  }

  .hemisphere {
    width: 50%;
    height: 30vh;
  }
  .set1 {
    top: 26vh;
    left: 63%;
  }

  .set3 {
    top: 26vh;
    left: 12%;
  }
}
@media screen and (max-width: 720px) {
  .about-wrapper {
    margin-top: 100px;
  }
  .pathway-arch {
    align-items: start;
    justify-content: left;
  }
  .hemisphere {
    width: 4px;
    border-right: none;
    height: 60vh;
    margin-left: 14%;
  }
  .about-individual-wrapper {
    flex-direction: row;
    width: 75%;
  }
  .set1 {
    top: 58vh;
    left: 8%;
  }

  .set2 {
    top: 28vh;
    left: 8%;
  }

  .set3 {
    top: -2vh;
    left: 8%;
  }
  .track-about-div {
    padding: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .about-wrapper {
    margin-top: 0px;
  }
   .hemisphere {
  
    height: 55vh;
    margin-left: 16%;
  }
    .about-individual-wrapper {
    flex-direction: row;
    width: 80%;
  }
  .set1 {
    top: 48vh;
    left: 8%;
  }

  .set2 {
    top: 22vh;
    left: 8%;
  }

  .set3 {
    top: -3vh;
    left: 8%;
  }
}
