.home-wrapper {
  background: #ffffff url("../../assets/home/bg-home.png") center center/cover
    no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home-wrapper-div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}
.home-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10%;
  padding: 40px 0px;
}
.home-space-img {
  width: 50%;
  min-width: 300px;
  animation-name: picAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.home-space-img > img {
  width: 100%;
  min-width: 300px;
  animation-play-state: running;
}
@keyframes picAnimation {
  from {
    rotate: 5deg;
  }
  to {
    transform: rotate(-5deg);
  }
}
.home-content-wrapper {
  margin-top: -60px;
  width: 40%;
  z-index: 0;
}

.home-content-wrapper > img {
  width: 100%;
  min-width: 300px;
}
@media screen and (max-width: 1600px) {
.home-space-img {
  width: 45%;
  min-width: 300px;
  animation-name: picAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.home-content-wrapper {
  width: 30%;
  z-index: 0;
  margin-top: -100px;

}
}
@media screen and (max-width: 1000px) {
  .home-main {
    flex-direction: column;

    gap: 40px;
    padding: 0px 0px;
  }
  .home-content-wrapper {
    width: 80%;
    max-width: 550px;  margin-top: 20px;
  }

}
/* .home-content-wrapper .mu {
  width: 100%;
  height: 100%;
  width: 400px;
}
.home-content-wrapper > div {
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 1;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-getready {
  display: flex;
  align-items: center;
}
.home-getready > div > p {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}
.home-getready > img {
  width: auto;
  height: 5rem;
  margin-left: -22px;
}

.home-witness > div {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(133.8deg, #2e85fe -8.97%, #af2ee6 91.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.home-witness > div p:nth-child(2) {
  font-size: 10rem;
  font-weight: 700;
  line-height: 1;
  margin-top: -45px;
}
.home-witness > p {
  font-size: 1rem;
  font-weight: 500;
} */

/* @media screen and (max-width: 1250px) {
  .home-wrapper-div {
    height: 90%;
  }
  .home-main {
    flex-direction: column;
  }
  .home-space-img {
    width: 65%;
    min-width: 300px;
  }
  .home-space-img > img {
    width: 100%;
    min-width: 300px;
  }
  .home-content-wrapper {
    position: relative;
    width: 100%;
  }
  .home-content-wrapper .mu {
    width: 400px;
  }
  .home-content-wrapper > div {
    position: sticky;

    top: 6rem;
    left: 20rem;
    width: 500px;
    margin-top: -220px;
  }

  .home-getready > div > p {
    font-size: 3rem;
  }
  .home-getready > img {
    height: 3rem;
    margin-left: -13px;
  }

  .home-witness > div {
    font-size: 3.7rem;
  }
  .home-witness > div p:nth-child(2) {
    font-size: 6.5rem;

    margin-top: -25px;
  }
}

@media screen and (max-width: 800px) {
    .home-wrapper-div{
        height: 85%;
    }
  .home-main {
    gap: 25px;
  }
  .home-space-img,
  .home-space-img > img {
    width: 400px;
  }

  .home-content-wrapper .mu {
    width: 400px;
    height: auto;
  }
  .home-content-wrapper > div {
    position: sticky;
    top: 6rem;
    left: 7rem;
    width: 500px;
    margin-top: -200px;
  }

  .home-getready > div > p {
    font-size: 3rem;
  }
  .home-getready > img {
    height: 3rem;
    margin-left: -13px;
  }

  .home-witness > div {
    font-size: 3.7rem;
  }
  .home-witness > div p:nth-child(2) {
    font-size: 6.5rem;

    margin-top: -25px;
  }
}

@media screen and (max-width: 500px) {
    .home-wrapper-div{
        height: 85%;
    }
  .home-main {
    gap: 25px;
  }
  .home-space-img,
  .home-space-img > img {
    width: 300px;
  }

  .home-content-wrapper .mu {
    width: 300px;
    height: auto;
  }
  .home-content-wrapper > div {
    position: sticky;
    top: 6rem;
    left: 4rem;
    width: 330px;
    margin-top: -190px;
  }

  .home-getready > div > p {
    font-size: 2.5rem;
  }
  .home-getready > img {
    height: 2.5rem;
    margin-left: -10px;
  }

  .home-witness > div {
    font-size: 3.1rem;
  }
  .home-witness > div p:nth-child(2) {
    font-size: 5.5rem;

    margin-top: -25px;
  }
  .home-witness > p {
  font-size: 0.8rem;
  font-weight: 500;
}
}
/* down arrow css */

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  border-right: 3px solid #7e3bc4;
  border-bottom: 3px solid #7e3bc4;
  margin: 0 0 3px 4px;

  width: 18px;
  height: 18px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei,
.quad {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}
.quad {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.4s;
  animation-direction: alternate;

  margin-top: -6px;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
