.home-wrapper {
  background: url("../../assets/home/bg-home.png") center center/cover no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
