.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.footer-div-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
 
}
.footer-div-first-set {
  display: flex;
flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
}
.footer-div-first-set > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-div-first-set h4{
    color: blueviolet;
}
.footer-line-divider{
    width: 80%;
    height: 2px;
    background-color: black;
}

.footer-div-third{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}

.footer-social-media{
    display: flex;
    gap: 10px;
}