.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1 {
  color: #ae59ff;
}
